<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contributions</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script>
        function dropdown() {
            var element = document.getElementById("dropdown");
            element.classList.toggle("is-active");
        }
        function truncateString(str, num) {
            if (str.length > num) {
                return str.slice(0, num) + "...";
              } else {
                return str;
              }
            }
    </script>
</head>
<body>
<div class="nav-margin" id="header">
    <div class="start">
       <a href="/about"><button class="button is-white">About</button></a>
        <a href="/help"><button class="button is-white">Help</button></a>
    </div>
        {% if data[1] == "" %}
            <a href="/sign_in" class="end">
                <button class="button is-dark">Sign in</button>
            </a>
        {% else %}
            <div class="dropdown  is-right end" id="dropdown">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="dropdown()">
                  <span>{{ data[1] }}</span>
                  <span class="icon is-small">
                    <img src="/static/dropdown.png">
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                   <a href="/contributions" class="dropdown-item">
                    Contributions
                  </a>
                  <a href="/upload" class="dropdown-item">
                    Upload questions
                  </a>
                    <hr class="dropdown-divider">
                    <a href="/sign_out" class="dropdown-item">
                    Sign out
                  </a>
                </div>
              </div>
            </div>
        {% endif %}
</div>
{% for item in data[0] %}
    <div class="center">
        {% if item[7] == "Success" %}
            <script>
            url = '/static/{{ item[5] }}-crop.pdf';
            var thePdf = null;
            var scale = 5;

            // Loaded via <script> tag, create shortcut to access PDF.js exports.
            var pdfjsLib = window['pdfjs-dist/build/pdf'];

            // The workerSrc property shall be specified.
            pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://mozilla.github.io/pdf.js/build/pdf.worker.js';

            pdfjsLib.getDocument(url).promise.then(function(pdf) {
                thePdf = pdf;
                viewer = document.getElementById('{{ item[5] }}');
                for(page = 1; page <= pdf.numPages; page++) {
                  canvas = document.createElement("canvas");
                  canvas.className = 'pdf-page-canvas';
                  viewer.appendChild(canvas);
                  renderPage(page, canvas);
                }
            });

            function renderPage(pageNumber, canvas) {
                thePdf.getPage(pageNumber).then(function(page) {
                  viewport = page.getViewport({ scale: scale });
                  canvas.height = viewport.height;
                  canvas.width = viewport.width;
                  page.render({canvasContext: canvas.getContext('2d'), viewport: viewport});
            });
            }
        </script>
            {% else %}
            {% endif %}
        <div class="grid">
            <div class="title-margin">
                <div class="start-error">
                    <h1 class="title is-4">{{ item[6]|truncate(15, True) }}</h1>
                    {% if item[7] == "Error" %}
                    <h1 class="laptop subtitle is-6">There was an error in the compilation of your TeX file. <a href="/static/{{ item[5] }}.log">View the logs.</a></h1>
                    <h1 class="mobile subtitle is-7">There was an error in the compilation of your TeX file. <a href="/static/{{ item[5] }}.log">View the logs.</a></h1>
                    {% else %}
                    <h2 class="subtitle is-6">{{ item[1] }} | {{ item[3]|truncate(15, True) }}</h2>
                    {% endif %}
                </div>
                <div class="laptop end">
                    <form action="/delete" method="POST" class="icon-margin laptop">
                        <button class="laptop button is-danger is-light" name="delete" value="{{ item[0] }}">Delete</button>
                    </form>
                    <a href="https://www.overleaf.com/docs?snip_uri=http://ec2-54-169-42-44.ap-southeast-1.compute.amazonaws.com:5003/static/{{ item[5] }}.tex">
                        <button class="laptop button is-dark ">Open in Overleaf</button>
                    </a>
                </div>
                <div class="end">
                    <form action="/delete" method="POST" class="icon-margin mobile">
                        <button class="button is-danger is-light is-small" name="delete" value="{{ item[0] }}">Delete</button>
                    </form>
                    <a href="https://www.overleaf.com/docs?snip_uri=http://ec2-54-169-42-44.ap-southeast-1.compute.amazonaws.com:5003/static/{{ item[5] }}.tex">
                        <button class="mobile button is-dark is-small">Open in Overleaf</button>
                    </a>
                </div>
            </div>
            {% if item[7] == "Success" %}
            <div id='{{ item[5] }}' class="pdf-viewer"></div>
            {% else %}
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

</body>
</html>