<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
<div class="nav-margin" id="header">
    <div class="start">
       <button class="button is-white">About</button>
        <button class="button is-white">Help</button>
    </div>
</div>
<div class="sign-in-center">
    <div class="width-setter">
        <div class="center-items"><h1 class="title is-2 margin-bottom-sign-in">Welcome!</h1></div>
        <div class="center-items"><p class="subtitle is-6 is-red text-color">{{ data[0] }}</p></div>
        <form action="sign_up_data" method="POST">
            <input class="input search-margin" id="username" type="text" name="username" placeholder="Username"/>
            <input class="input search-margin" id="password" type="password" name="password" placeholder="Password">
            <input class="input search-margin margin-bottom-sign-in" id="confirm_password" type="password" name="confirm_password" placeholder="Confirm password">
            <button class="center-items button margin-bottom-sign-in is-dark">Sign up</button>
        </form>
    </div>
</div>
</body>
</html>