<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script>
        function getFileName() {
            value = document.getElementById("file-input").files[0].name;
            document.getElementById("file-name").innerHTML = value;
        }
        function dropdown() {
            var element = document.getElementById("dropdown");
            element.classList.toggle("is-active");
        }
    </script>
</head>
<body>
<div class="nav-margin" id="header">
    <div class="start">
       <a href="/about"><button class="button is-white">About</button></a>
        <a href="/help"><button class="button is-white">Help</button></a>
        <a href="/"><button class="button is-white">Search</button></a>
    </div>
        {% if data[0] == "" %}
            <a href="/sign_in" class="end">
                <button class="button is-dark">Sign in</button>
            </a>
        {% else %}
            <div class="dropdown  is-right end" id="dropdown">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="dropdown()">
                  <span>{{ data[0] }}</span>
                  <span class="icon is-small">
                    <img src="/static/dropdown.png">
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                   <a href="/contributions" class="dropdown-item">
                    Contributions
                  </a>
                  <a href="/upload" class="dropdown-item">
                    Upload questions
                  </a>
                    <hr class="dropdown-divider">
                    <a href="/sign_out" class="dropdown-item">
                    Sign out
                  </a>
                </div>
              </div>
            </div>
        {% endif %}
</div>
<div class="upload-center">
    <div class="width-setter">
        <div class="center-items">
           <h1 class="title">Upload</h1> 
        </div>
        <div class="center-items">
            <h1 class="subtitle is-6 text-center">Make sure to include \pagenumbering{gobble} in your code and to start every seperate question with @qn@{title},{year},{topic}@qn@</h1>
        </div>
        <form action="/upload_data" method="POST" enctype="multipart/form-data">
        <div class="center-items">

                <div class="file has-name is-boxed">
                  <label class="file-label">
                    <input id="file-input" class="file-input" type="file" name="file" onchange="getFileName()">
                    <span class="file-cta">
                      <span class="file-label">
                        Choose a file…
                      </span>
                    </span>
                    <span class="file-name" id="file-name">
                    </span>
                  </label>
            </div>

        </div>
        <div class="center-items">
            <button class="button">Submit</button>
        </div>
            </form>
    </div>
</div>
</body>
</html>